 .error-container {
   margin-top: 3rem;
   text-align: center;
   position: relative;
 }

 .title {
   display: block;
   font-size: 2rem;
   font-weight: lighter;
   text-align: center;
 }

 .description {
   font-size: 1.2rem;
   font-weight: lighter;
 }

 .graph {
   position: relative;
 }

 .gears {
   width: 10rem;
   height: 10rem;
   fill: #6AAFE6;
   transition: easeInOutQuint();
   animation: CogAnimation 5s infinite;
 }

 .bird {
   position: absolute;
   width: 3rem;
   height: 3rem;
   fill: #30A9DE;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
 }

 @keyframes CogAnimation {
   0% {
     transform: rotate(0deg);
   }

   100% {
     transform: rotate(360deg);
   }
 }
