<form id="mfaform" method="post" (ngSubmit)="launch()">
  <div class="mfa-container">
    <div class="mfa-brand">
      <img [src]="api.staticURL('modern/img/login-img.png')" />
    </div>

    <div class="mfa-info">
      <uds-translate>Login Verification</uds-translate>
    </div>

    <div class="mfa-form">
      <div class="mfa-field">
        <mat-form-field appearance="standard">
          <mat-label>
            {{ api.config.mfa.label }}
          </mat-label>
          <input matInput id="code" name="code" value="" required autofocus />
        </mat-form-field>
      </div>

      <!-- checkbox for remember -->
      <div class="mfa-field">
          <mat-checkbox id="remember" name="remember">
            <uds-translate>Remember Me</uds-translate>
          </mat-checkbox>
      </div>

      <div class="mfa-button">
        <button mat-stroked-button color="primary" type="submit">
          <uds-translate>Submit</uds-translate>
        </button>
      </div>
    </div>
  </div>
</form>
