<h4 mat-dialog-title [innerHtml]="data.title | safeHtml"></h4>
<mat-dialog-content [innerHTML]="data.body | safeHtml"></mat-dialog-content>
<mat-dialog-actions>
  @if (data.type===0) {
    <button mat-raised-button mat-dialog-close (click)="resolveAndClose(false)"> <uds-translate>Close</uds-translate>{{ extra }}</button>
  }
  @if (data.type===1) {
    <button mat-raised-button mat-dialog-close (click)="resolveAndClose(true)"><uds-translate>Yes</uds-translate></button>
  }
  @if (data.type===1) {
    <button mat-raised-button mat-dialog-close (click)="resolveAndClose(false)"><uds-translate>No</uds-translate></button>
  }
</mat-dialog-actions>
