<div>
  <h1> <uds-translate>UDS Service launcher</uds-translate></h1>
  <br />
  <p><uds-translate>The service you have requested is being launched.</uds-translate></p>
  <h5><uds-translate>Please, note that reloading this page will not work.</uds-translate></h5>
  <h5><uds-translate>To relaunch service, you will have to do it from origin.</uds-translate></h5>
  <br />
  <h6><uds-translate>If the service does not launchs automatically, probably you dont have the UDS plugin installed</uds-translate></h6>
  <h6><uds-translate>You can obtain it from the</uds-translate> <a routerLink="/client-download"><uds-translate>UDS Plugin download page</uds-translate></a></h6>
</div>  
