<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand" routerLink="/">
      <img alt="Universal Desktop Services" src="/static/modern/img/udsicon.png" class="navbar-img pull-left">
      Universal Desktop Services
  </a>
  <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarUDS" aria-controls="navbarUDS" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse" id="navbarUDS">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/client-download"><i class="fa fa-download"></i> UDS Plugin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><uds-translate>About</uds-translate></a>
      </li>
      <li class="nav-item dropdown dropdown-menu-right" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="navbarLangDropdown" ngbDropdownToggle>{{ lang }}</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarLangDropdown" ngbDropdownMenu>
          <a class="dropdown-item" href="#" *ngFor="let l of langs">{{ l.name }}</a>
        </div>
      </li>

      <li *ngIf="api.user.isLogged" class="nav-item dropdown dropdown-menu-right" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="navbarUserDropdown" ngbDropdownToggle>{{ api.user.user }}</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarUserDropdown" ngbDropdownMenu>
          <a class="dropdown-item" href="#"><uds-translate>Preferences</uds-translate></a>
          <a class="dropdown-item" href="#"><uds-translate>Dashboard</uds-translate></a>
          <a class="dropdown-item" href="#"><uds-translate>Downloads</uds-translate></a>
          <a class="dropdown-item" href="{{ api.urls.logout }}"><uds-translate>Logout</uds-translate></a>
        </div>
      </li>
      
    </ul>
  </div>
</nav>