<div *ngIf="service.transports.length > 0">
  <mat-menu #transports>
    <button mat-menu-item *ngFor="let trans of service.transports" (click)="launch(trans)">
      <div class="transport-item">
        <img [src]="getTransportIcon(trans.id)">
        {{ trans.name }}
      </div>
    </button>
  </mat-menu>

  <mat-menu #actions>
    <button mat-menu-item *ngIf="service.allow_users_remove" (click)="action('release')">
      <i class="material-icons">delete</i>
      <uds-translate> Release service</uds-translate>
    </button>
    <button mat-menu-item *ngIf="service.allow_users_reset" (click)="action('reset')">
      <i class="material-icons">refresh</i>
      <uds-translate> Reset service</uds-translate>
    </button>
  </mat-menu>

  <mat-menu #menu>
    <button mat-menu-item [matMenuTriggerFor]="transports" *ngIf="showTransportsMenu()">
      <uds-translate>Connections</uds-translate>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="actions" *ngIf="hasActions()">
      <uds-translate>Actions</uds-translate>
    </button>
  </mat-menu>

  <div [ngClass]="serviceClass" [matTooltipDisabled]="serviceTooltip===''"
    [matTooltip]="serviceTooltip" matTooltipShowDelay="1000" matTooltipPosition="above">
    <div class="icon" (click)="launch(null)">
      <img [src]="serviceImage">
    </div>
    <div class="name">
      <span [ngClass]="serviceNameClass">{{ serviceName }}</span>
    </div>
    <div class="menu">
      <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="hasMenu()" class="service-menu"><i class="material-icons">menu</i></button>
    </div>
  </div>
</div>
