@if (service.transports.length > 0) {
  <div>
    <mat-menu #transports>
      @for (trans of service.transports; track trans) {
        <button mat-menu-item (click)="launch(trans)">
          <div class="transport-item">
            <img [src]="getTransportIcon(trans.id)">
            {{ trans.name }}
          </div>
        </button>
      }
    </mat-menu>
    <mat-menu #actions>
      @if (service.allow_users_remove) {
        <button mat-menu-item (click)="action('release')">
          <i class="material-icons">delete</i>
          <uds-translate> Release service</uds-translate>
        </button>
      }
      @if (service.allow_users_reset) {
        <button mat-menu-item (click)="action('reset')">
          <i class="material-icons">refresh</i>
          <uds-translate> Reset service</uds-translate>
        </button>
      }
    </mat-menu>
    <mat-menu #menu>
      @if (showTransportsMenu()) {
        <button mat-menu-item [matMenuTriggerFor]="transports">
          <uds-translate>Connections</uds-translate>
        </button>
      }
      @if (hasActions()) {
        <button mat-menu-item [matMenuTriggerFor]="actions">
          <uds-translate>Actions</uds-translate>
        </button>
      }
    </mat-menu>
    <div [ngClass]="serviceClass" [matTooltipDisabled]="serviceTooltip===''"
      [matTooltip]="serviceTooltip" matTooltipShowDelay="1000" matTooltipPosition="above">
      <div class="icon" (click)="launch(null)">
        <img [src]="serviceImage">
      </div>
      <div class="name">
        <span [ngClass]="serviceNameClass">{{ serviceName }}</span>
      </div>
      <div class="menu">
        @if (hasMenu()) {
          <button mat-icon-button [matMenuTriggerFor]="menu" class="service-menu"><i class="material-icons">menu</i></button>
        }
      </div>
    </div>
  </div>
}
