.service {
  width: 10rem;
  margin: 0 1rem 2rem 0;
  padding: 0.5rem 0 1rem 0;
  border-radius: 1rem;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  border: 1px;
  border-style: solid;
  border-color: rgb(0, 0, 0, 0.22);
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column wrap;
  position: relative;
}

.service-menu {
  border-radius: 0.6rem !important;
}

.service:hover {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  width: 6rem;
  height: 6rem;
  margin: 0.5rem;
}

.service:not(.forbidden):not(.maintenance):hover .icon {
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  width: 7rem;
  height: 7rem;
  margin: 0;
}

.icon img {
    width: 100%;
    height: 100%;
    /*max-height: 96px;*/
    overflow: hidden;
}

.forbidden .icon img {
  opacity: 0.5;
  z-index: 10;
}

.maintenance .icon img {
  opacity: 0.5;
  z-index: 10;
}

.tobereplaced .icon img {
  opacity: 0.7;
  z-index: 10;
}

.name {
  margin-top: 0.5em;
  font-size: 1.05rem;
  width: calc(100% - 1em);
  display: flex;
  flex: 1 0 auto;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  padding: 0 0.5em;
  overflow: hidden;
  height: 2.4em;
  text-align: center;
}

.small-16 {
  font-size: 1.05rem;
}

.small-20 {
  font-size: 1.0rem;
}

.small-24 {
  font-size: 0.95rem;
}

.small-28 {
  font-size: 0.9rem;
}

.menu {
  position: absolute;
  top: 2px;
  right: 2px;
}

.menu .mat-mdc-icon-button {
  cursor: pointer;
  background-color: rgb(255, 255, 255, 0.80);
  /*line-height: 0px;
  width: auto;
  height: auto;*/
}

.menu .mat-mdc-icon-button:hover {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.transport-item {
  display: flex;
  align-items: center;
}

.transport-item img {
  width: 2em;
  margin-right: 0.4em;
}

.alert::before {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 8rem;
  font-weight: 500;  
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  text-shadow: 0 6px 8px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  z-index: 1;
}

.forbidden::before {
  color: rgb(252, 0, 0);
  content: 'update';
}

.maintenance::before {
  color: rgb(252, 185, 0);
  content: 'build';
}

.tobereplaced::before {
  color: rgb(252, 0, 0);
  content: 'delete_forever';
}


::ng-deep .dark-theme {
  .menu .mat-mdc-icon-button {
    background-color: rgb(0, 0, 0, 0.20) !important;
  }
}


.favorite_button {
  position: absolute;
  padding-top: 0px !important;
  padding-left: 0px !important;
  padding-right: 12px !important;
  padding-bottom: 12px !important;
  top: -10px !important;
  left: -10px !important;
}

.favorite_button button {
  padding: 0px !important;
} 

.material-icons.favorite {
  color: gold;
}