<div class="about">
  <h1>Universal Desktop Services {{ api.config.version }} build {{ api.config.version_stamp }}</h1>
  <h3><a href="http://www.udsenterprise.com" target="_blank"> &copy; 2012-2020 Virtual Cable S.L.U.</a></h3>
  <h4>
    <uds-translate>You can access UDS Open Source code at</uds-translate> <a href="https://github.com/dkmstr/openuds"
      target="_blank"> OpenUDS github repository</a>
  </h4>
  <div class="components">
    <h2>
      <uds-translate>UDS has been developed using these components:</uds-translate>
    </h2>
    <ul>
      <li><a href="https://www.python.org/">Python</a></li>
      <li><a href="https://www.typescriptlang.org/" target="_blank">TypeScript</a></li>
      <li><a href="https://www.djangoproject.com/" target="_blank">Django</a></li>
      <li><a href="https://angular.io" target="_blank">Angular</a></li>
      <li><a href="https://guac-dev.org/" target="_blank">Guacamole</a></li>
      <li><a href="https://weasyprint.org/" target="_blank">weasyprint</a></li>
      <li><a href="https://kde-look.org/content/show.php/Crystal+Project?content=60475)" target="_blank">Crystal project
          icons</a></li>
      <li><a href="https://github.com/NitruxSA/flattr-icons" target="_blank">Flattr Icons</a></li>
    </ul>
    <p><small>* <uds-translate>If you find that we missed any component, please let us know</uds-translate></small></p>
  </div>
</div>
