<form id="loginform" method="post" (ngSubmit)="launch()">
  <input name="" id="token" value="" type="hidden">
  <input name="logouturl" id="id_logouturl" value="" type="hidden">
  <input name="authenticator" id="authenticator" value="" type="hidden">

  <div class="login-container">

    <div class="login-brand">
      <img [src]="api.staticURL('modern/img/login-img.png')">
    </div>

    <div class="login-info">
      {{ title }}
    </div>

    <div class="login-form">

      <div class="login-field">
        <mat-form-field>
          <mat-label>
            <uds-translate>Username</uds-translate>
          </mat-label>
          <input matInput id="id_user" name="user" value="" required autofocus>
        </mat-form-field>
      </div>

      <div class="login-field">
        <mat-form-field>
          <mat-label>
            <uds-translate>Password</uds-translate>
          </mat-label>
          <input matInput id="id_password" type="password" class="form-control" name="password" data-eye>
        </mat-form-field>
      </div>

      <div class="login-field" *ngIf="auths.length > 1">
        <mat-form-field appaerance="standard">
          <mat-label>
            <uds-translate>Authenticator</uds-translate>
          </mat-label>
          <mat-select [value]="auths[0].id" (selectionChange)="changeAuth($event.value)">
            <mat-option *ngFor="let a of auths" [value]="a.id">
              {{ a.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="login-button">
        <button mat-stroked-button color="primary" type="submit">
          <uds-translate>Login</uds-translate>
        </button>
      </div>
    </div>
    <div class="site-info" [innerHTML] = "api.config.site_information | safeHtml">
    </div>
  </div>
</form>
