<h2 mat-dialog-title><uds-translate>Please, enter access credentials</uds-translate></h2>
<mat-dialog-content>
    <mat-form-field>
        <mat-label>
            {{ labels.username }}
        </mat-label>
        <input matInput [placeholder]="labels.username" [(ngModel)]="username">
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            {{ labels.password }}
        </mat-label>
        <input matInput [placeholder]="labels.password" [(ngModel)]="password" type="password">
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            {{ labels.domain }}
        </mat-label>
        <input matInput [placeholder]="labels.domain" [(ngModel)]="domain">
    </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="{'username': username, 'domain': domain, 'password': password, 'success': false}">Cancel</button>
  <button mat-button [mat-dialog-close]="{'username': username, 'domain': domain, 'password': password, 'success': true}">Accept</button>
</mat-dialog-actions>
