<div class="container">
  <div class="card-deck mb-3">
    <div class="card mb-4" *ngFor="let p of api.plugins">
      <img class="card-img-top" src="/static/modern/img/{{ p.name }}.png">
      <div class="card-body d-flex flex-column">
        <h4 class="card-title">{{ p.name }}</h4>
        <p class="card-text">{{ p.description }}</p>
        <a class="btn btn-lg btn-block btn-outline-primary mt-auto" href="{{ p.url }}">
          <uds-translate>Download</uds-translate>
        </a>
      </div>
    </div>
  </div>
</div>
