  <mat-expansion-panel [expanded]="expanded">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="services-group-title"><img class="services-group-image" [src]="groupImage"> {{group.name}}</div>
      </mat-panel-title>
      <mat-panel-description>
        {{group.comments}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="services-group">
      <uds-service *ngFor="let s of services" [service]="s"></uds-service>
    </div>

  </mat-expansion-panel>
