.services-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    /* margin: 0 10%; */
}

.services-group-title {
    display: flex;
    align-items: center;
}
.services-group-title img {
    width: 2rem;
    margin: 0 0 0.4rem 0.4rem;
    flex-flow: 0 0 auto;
}

/* .mat-expansion-panel-header-description */
.mat-expansion-panel-header-title {
    width: 15%;
}