.services-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    /* margin: 0 10%; */
}
.services-group-title {
    display: flex;
    align-items: center;
    font-size: 1em;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.services-group-title img {
    width: 2em; /* By using em, will also inherit font size & font size animations */
    margin: 0 9px 0 0;
    flex-flow: 0 0 auto;
}

/* .mat-expansion-panel-header-description */
.mat-expansion-panel-header-title {
    width: 15%;
}

.mat-expansion-panel-header-description {
    font-size: 1em;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.mat-expanded .mat-expansion-panel-header-description {
    font-size: 1.5em;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.mat-expanded .services-group-title {
    font-size: 2em;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

@media only screen and (max-width: 744px) {
    .services-group {
        justify-content: center;
    }
}