<form id="form_language" action="{{ api.config.urls.changeLang }}" method="post">
    <input type="hidden" name="{{ api.config.csrf_field }}" value="{{ api.config.csrf }}" >
    <input id="id_language" type="hidden" name="language" value="{{ lang.id }}" />
</form>

<!-- languages menu -->
<mat-menu #appMenu="matMenu">
  <button mat-menu-item *ngFor="let l of langs" (click)="changeLang(l)">{{ l.name }}</button>
</mat-menu>

<!-- user menu -->
<mat-menu #userMenu="matMenu">
    <button mat-menu-item routerLink="/"><i class="fa fa-download"></i><uds-translate>Preferences</uds-translate></button>
    <button mat-menu-item *ngIf="api.user.isStaff" (click)="admin()"><i class="fa fa-download"></i><uds-translate>Dashboard</uds-translate></button>
    <button mat-menu-item routerLink="/downloads"><i class="fa fa-download"></i><uds-translate>Downloads</uds-translate></button>
</mat-menu>

<!-- shriked menu -->
<mat-menu x-position="before" #shrink="matMenu">
    <button mat-menu-item *ngIf="api.user.isLogged" [matMenuTriggerFor]="userMenu">{{api.user.user}}</button>
    <button mat-menu-item [matMenuTriggerFor]="appMenu">{{ lang.name }}</button>
    <button mat-menu-item routerLink="/client-download"><i class="fa fa-download"></i> UDS Plugin</button>
    <button mat-menu-item routerLink="/about"><i class="fa fa-info"></i><uds-translate>About</uds-translate></button>
</mat-menu>


<mat-toolbar color="primary" class="uds-nav">

  <button mat-button routerLink="/">
    <img alt="Universal Desktop Services" src="/static/modern/img/udsicon.png" class="udsicon"> UDS
  </button>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <!-- elements only visible when expanded -->
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <button mat-button routerLink="/client-download"><i class="fa fa-download"></i>UDS Plugin</button>
      <button mat-button routerLink="/about"><i class="fa fa-info"></i><uds-translate>About</uds-translate></button>
      <button mat-button [matMenuTriggerFor]="appMenu">{{ lang.name }}</button>
      <button mat-button *ngIf="api.user.isLogged" [matMenuTriggerFor]="userMenu">{{api.user.user}}</button>
  </div>

  <!-- button visible only when shrinked -->
  <button mat-button [matMenuTriggerFor]="shrink" fxHide="false" fxHide.gt-sm>
    <i class="fa fa-bars fa-2x"></i>
  </button>

</mat-toolbar>