@import "../../../globals.scss";

.uds-nav {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-image: $bg-title;
}

.fill-remaining-space {
  /*This fills the remaining space, by using flexbox.  
   Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.material-icons {
  margin-right: 0.3rem;
  /*margin-left: 0.3rem;*/
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 2rem;
  margin-right: 0.5rem;
}

/* responsive part */
@media only screen and (max-width: 744px) {
  .expanded {
      display: none;
      visibility: hidden;
  }
  .shrinked {
    visibility: visible;
  }
}

@media only screen and (min-width: 745px) {
  .expanded {
      visibility: visible;
  }
  .shrinked {
    display: none;
    visibility: hidden;
  }
}
