@use '@angular/material' as mat;

@include mat.core();
$angular-primary: mat.define-palette(mat.$indigo-palette, 500, 100, 900);
$angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The "warn" palette is optional and defaults to red if not specified.
$angular-warn: mat.define-palette(mat.$red-palette);

$angular-default-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

$angular-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

$bg-default: map-get(map-get($angular-default-theme, background), background);
$fg-default: map-get(map-get($angular-default-theme, foreground), base);

$bg-dark: map-get(map-get($angular-dark-theme, background), background);
$fg-dark: map-get(map-get($angular-dark-theme, foreground), base);

// Set variables for several backgrounds
$bg-title: linear-gradient(60deg, rgb(75, 82, 102), rgb(70, 93, 156));
$bg-button: linear-gradient(60deg, rgb(75, 82, 102), rgb(70, 93, 156));
$bg-tab: linear-gradient(60deg, rgb(75, 82, 102), rgb(70, 93, 156));
