/* You can add global styles to this file, and also import other style files */
/* Materials */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Font awasome */
@import "~font-awesome/css/font-awesome.css";
/* Cookie consent */
@import "~cookieconsent/build/cookieconsent.min.css";

html, body { height: 100%; }

body { 
    margin: 4rem 0 0 0; /* leaves space for toolbar on top */
    font-family: 'Roboto', sans-serif; 
}

.content {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: aqua;
}
