@use '@angular/material' as mat;

@use 'globals.scss' as *;

/* Default, light theme */
@include mat.all-component-themes($angular-default-theme);

// variables
$font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
//$font-family: Verdana, Geneva, Tahoma, sans-serif;
$font-size: 14px;


html,
body {
  margin: 0;
  font-family: $font-family;
  font-size: $font-size;
  height: 100%;
}

/* App loading logo */
.app-loading .logo {
  width: 113px;
  height: 120px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAMAAAD04JH5AAABhWlDQ1BJQ0MgcHJvZmlsZQAAKJF9kT1Iw0AYht+malUqCnYQcchQnexiRRxLFYtgobQVWnUwufRHaNKQpLg4Cq4FB38Wqw4uzro6uAqC4A+Is4OToouU+F1SaBHjHcc9vPe9L3ffAUKjwlSzKwaommWkE3Exl18RA6/owxDNHkQlZurJzEIWnuPrHj6+30V4lnfdn2NAKZgM8InEMaYbFvE68cympXPeJw6xsqQQnxNPGnRB4keuyy6/cS45LPDMkJFNzxGHiMVSB8sdzMqGSjxNHFZUjfKFnMsK5y3OaqXGWvfkLwwWtOUM12mNIYFFJJGCCBk1bKACCxHaNVJMpOk87uEfdfwpcsnk2gAjxzyqUCE5fvA/+N1bsxidcpOCcaD7xbY/xoHALtCs2/b3sW03TwD/M3Cltf3VBjD7SXq9rYWPgMFt4OK6rcl7wOUOMPKkS4bkSH5aQrEIvJ/RN+WB4Vugf9XtW+scpw9Alnq1dAMcHAITJcpe83h3b2ff/q1p9e8HsopywPmxfBcAAAGDUExURQAAABkMiRwRhiYRgR4WghwdhyUcgSohcycjeiMkhSkmdSopZy8sYBovjzEzVyUykTE3UyQ3kTM1dTM3ZDU9SDZBQCY/lS9DgD9GLT5DazxKMCNOpEFWG0BWLkVQZSVVoUFXKERYFkJYI0ZZEB1ZqztZQD5ZNUZZGD1ZOjxZRTJZbTtZUzVaXjxaS0dbGTdaZyZboSlapkVeFDBZoEldGyxdmDBdiy9cnCJgrDBekjRehjdeeylfpDNfgVFbXDxjdDllfEFkcUJnakdoYTlpkklqW1RtFzxrh01qVk9sT1VuQ1RuSVZvP1pxN2ByKl5zMGR0EmJ0JGN1HWZ2FUR4gmd3F2l5DWl5GWF9Gk18e259E01/eGJ+T2uBFnGGEWqIFmeFSFaIb1qMZ22KPnKOGXSRL3iTE2OUXnOXF3CaRGqbUHibMn2dEnujGn+mDXmqPISrFoGvGYGwNIazEIO2LIu5HJC8DIy/EJLFG5XHCJbIDZjKEZLMEZvMAJbQGZrTB53VAJ6wE90AAAABdFJOUwBA5thmAAALzklEQVR42tVb/VvbRhJ2gHD56EeSNtyFmGJjJyJAQMLYxjYuAQoJ3wad5JQUSBsfoRcgEOMg7erk/uk3uysZ21qBVoHcc/MreTyvZt6ZeWekRCJfYnXbts6ODg/3Xy8sjEeu2ywTmaZpGKaBLNvGZyeHu7uvwRbAxkdHpbjHJOkq/BKnJjGrTsyu1/+qGydHh/u7m+OjUpQZ+JKkUcm1UWITExMuqHCeqVuLPLKJiGFqlmWeney/Hid+2p+Xa42/CwXbQPSxsU3MsjAmCAgghI2T3YVx9uTxS60RESkwBtMyDAORWNsWpj6bDaNqZUFyfcNPJxLjrZbwhob9U8iJdCkGRHyDZ+TxzAyh6u4o8y4lIAyxWF9vq/2jty8WG4B/kgDzJml09AIIEHRkkkwjX/9WbTcRZY8eHYj1Pvzx3nff3G21R0MjI8PPnzzpGxgYcNjZlpG45Ov+gmd3ABwuRBmAaO+9u3du3brV3d3VbLd7UmmwXC6TyRfGhp89jUXbwkCKhRMEA0HosXmJIWNfipLfiD387u6tDmadzLq6Oju6vu3plycVaslkKpvLF4fGRp4PxoAqTTBGvRAwutw7YwAAkOK99/7W1dHlsZvf98utRoDIucLIc8hI/BwDyUNr+G18YegbAE62pShE/5sunnXfT8l8y2bTheHBAYLdRdBCBNO2A7gnAGqV0agE/js6vf4h/VN8/yQj2XSmMBxrikFTNRiWbZiBDOHD8ejAj92c8IN/2ce/i0LODAEEyZsFhJEZEIBdfZ3o/YEH4DL/DEN6bNCtinMEqI7NoAZ9eOHhHc7z3+yRAxhwpPhswM3DhAPAqFumAIL9Z3d4/lNTQRDIipwfdhG4TfHEQCgwAAvVPvzcfaPVfWfX/f5g/kkaMs/dITbKAFSOkUAIELY//tTeBL7tlwObIhefNADQWiztGwIAoB0bHx7d6GwjoIApypCTBKcUSzvHBhZD8PZBR3MMfBuQDwJIgouAAijv1SwkgMCyar/daUJw+/GULGaFWIIBoCxQVf3wTAgBqp++utXRVAGC/pO5wXgzgC11+8gQAQBK7fTn2y6C2/2iAVDSTimyXqRuaYQGIkQ0bOvwp65OtwTEAYz1NQGIaGVNrVSRUAws+8OjThqDm/fFAWQLg1LTUNTKZUJELFiM71gpdAdtgs2Wf5JonokkCdsHZ0IxAHn49sGNLwTgdgK1XFbV7UNBIlq15TugC64CQETb0tTSthgRoR2czHd3dHT39F8BABKD0o4gEbH94afujhAkbAYQZSMZAGglTbAjImx9eBSqDLPFRhW4skgjtVjeP0MiU8Goo3896rgZAsDQ03YAEVXXVLV88FmwHeB3P3T1iDeikVhzI3JCoGtQjEdnIiEgWXj34PvH4q046gEQIQBU0pPF2kG99vbvPaIAck/YhiCNNu8nmg5EhJ4sRETSkH7LK4KCIDcoxb0AyEwAHkApYDEa1N7n+hWxcfw0wQUA/YiWglgMMD79Pd0vFIFMXyLu4QDtBppGp4JYO0Do0++5ZAhFJHmOFTQEVJ4IFuOnNymBJGSH/ACoOnREVa0cm0I0gG3h469ZJTCE9MiAD4CISolYqlRNsVLAgCAwDxqqmHcvoghgKpwJDUaGIBswBEpx0AXAORWBOAEEuiARTfM/6OMbOVA/SCmFvvgFAMqEiCWQJ1gMgYU/vkknlSAAhgacRsi92IFCJKWwK7YukWqEWsgFYaIyFI/7cJBamXXESlUQgYnRpz9+CYAAADgZiPIPlowGIE8EkwAy8fTPN7lkcpLYlO+Qzo5cQAG6LJY0gqAsTERSDJ/+eHnek6a4MDLPLwEQITwEIuoHhjACZJ2dOr/iLwifMQATvgCqB1uqSkrhSEwns2Ko/9X0U8Th5GQLA+TCIAUgTfi8T0HYPtsrkzSUdk5M0RgYyLaM1h9M0WRMNgThWIwB4FchMshrglpFU8loFl0ZqdWR2f6rjBFTDMBwNO7n3zQg6+AfG8c7KkGg7X8WR4Btw/T+9rkkHna0QNTrHuE6PdrC6nkAyxJ0AyCiaDGahmVjbnIdAM8SvAhY2HC8U6lZd5IQiogm8kcwBYo0wZFjn2nqkVvNtdM/326qtB1snyDxLCDb9EEwKRcHE953irsH0HipH/qC7vT9P3Mvlzd12hErVSxORNxeCi4CJVuggrBtEGjblYOaZZFXRnX06f2vvyiPlRerJAKEiLUQpYB9YpBMj9GtqA0A8K28d1QzLHz68d+knSsAdXadhAA04kEIGsCj8BFk2IGqHcAWrOflveMatPKGsEnP0SSIXw7cnshHwORQ2yAgAGA33Xn7Mi03lgyluOgg2KlaYUrB5CKIUQDtg4CoEE3Vl/qbNE1KBhpQIqoVwXXJSQLmMTE6wRuFVIxq+lK2ecFIZmfXdEpEdU/scuDGgFcL8QmeGuICgD16fpMhEFepvlkgalzyaAFouhwAIB4WaRI0SkRxBBYnBPEJCUaxBwDZyjR9NZ9qVdaKQwNV3amGAACl0I4gLiXIxw1xrhDUV1+0bRdKdmadhUAVvKU2RFo7AraU8JWovj7dvt4o6bkN3emIZyE6IrKQEeSzBbYO6GuzacVzzlikLZnt7WYYIgYDQFioby5mPACU4pLeIGKIGNg4YAhIDrTVIufSML1OEajhBiO3FPwA6JvTCueq5vSjkrYfqhtYZpAsUPmhb86leVetRfpXtbQVbjAGowFphrq6yLm5AQ1WzmkQAkHdCJIEtaxDz1mf4ayXijKzxmig7oYR6hgHCwGpA22ee+hIz244NNgLo4+C5YBczHV9KS+neHcdRxuo5YMQtWibgXJACkHfmOOFQJHzS0wihhLqIHiDV+IK9+iopKZXHSLuVE1RbQD7phEwB9COp33OXbPuUKiID0YcsBK3gAWby5kk/8btqBNyuhClQcBWQC72mrYx63PbyS872mD7SDQJ0A0Dz0RdWynIvCQoIFJZEsgpVfSSaQYbCJSH6qs0lwWKPLvGSoHIZMFjrhEwBJSHHmF0rk5UPdQFCwAEKkSmjHRtOcMvhGRmmSEAGiB0HRGAXlBmQ9EnCUWHBuSFP74OALQSYCZN80NAVlbN3VUEkiAAgK4ouraYkX1oML/JJKLQrhK0DNlYJpWwMc9PQirpdAOiDUwU/DO44ACckbA249ORlYKzsmoCRzxsW8EBqOT3dX294EcDZ1dRtcAtGQUch40kUBosFZN+NNhwJvNhwMmMA24nLQg0bZH//kEBdaK6kzlYCIIJEk8MNl7lfPqRSwM92EsFC6OIIACHiLN+/WjaWVlhLl4eA1QX9e+uitr6bJb7JsxdWdXS7uXnI2QJNIG2JOir/BikUo1dZe+ySkB2GP+No806vx0ocmGFffJw2c4M+3ko/+cxKPi8eWHagCYBXVkH8Exmoo9ecN+MJx2JWLrwgwOELSMSGkCZjmZ95UWaw8SUuymUyv7SIHz8XRpQHvCZCC15lVWC77bmdywVbQc+/UBJv2IqWfdZ2r/w+VsQgEJSvC3ZPeXuVDlf4hnYRkbki61MVwVAkPdSMZVly5Kq73NK0bKNK/Dv9ERQiUtFTiXk3Y7sKUVof4YZuRJzsrC5OuMRacncovNex6MMLBEFclkWtmgM9PXZdiK42kTVto9bNDKyw7cf364M43k+3/qtTErOrDgq/aAJAHQfy4hcpWkMgba59KIVgZJd1j0zifyPDRSJXDECes3X1dW5FpWkyMuNdbVRiZZlRq7coCEwLm4sTjdBUORFXXNWNeeLD0j/NfhvTAbalIpARsVphksuAKZPofquOP0eKgITVucyWfL0QIHp1RYA5D0VilyXaU5P0rWNlbminFSSCqgSrQkANP/rc88gbLGC1DdX5menZ+aWmDxnHLCs60p/MxHYGYlWxNqG655VQd0yrci1m+YsLTog0PRzAHtnwU6BV1OQDhvPTS0f2ghHvpIBGdsglOgr/sjXMyjIFgzlneOv6Z5RQXWqkpbAQS3y1U0lZKCmbVUi/xtzLnZq5P/a/gvm8NIms2W1xQAAAABJRU5ErkJggg==);
}

/* Fix for vertical align on material icons */
i.material-icons {
  vertical-align: middle !important;
}

/* colors for remmarks */
.highlight {
  color: red;
}

.mat-mdc-menu-content {
  .mat-mdc-menu-item:hover {
    background-color: #e8e8e8;
  }
}

.mat-mdc-option:hover:not(.mat-mdc-option-disabled) {
  background: #648cb0 !important;
  color: white !important;
}

.dark-theme {
  @include mat.all-component-colors($angular-dark-theme);

  html,
  body {
    background-color: $bg-dark;
  }

  .menu .mat-mdc-icon-button {
    background-color: transparent !important;
  }

  uds-staff-info h1{
    color: white;
  } 
}

.mat-mdc-dialog-container {
  --mat-dialog-supporting-text-font: $font-family;
  --mat-dialog-subhead-font: $font-family;
  --mat-dialog-title-font: $font-family;
  --mat-dialog-button-font: $font-family;
  --mat-dialog-supporting-text-size: 1rem;
  --mat-dialog-subhead-size: 1.25rem;
  --mat-dialog-supporting-text-weight: 400;
  --mat-dialog-supporting-text-color: rgba(0, 0, 0, 1.0);
}

.mat-mdc-menu-trigger.service-menu.mdc-icon-button.mat-mdc-icon-button.mat-unthemed.mat-mdc-button-base.ng-star-inserted {
  padding-top: 5px;
}
