/* You can add global styles to this file, and also import other style files */
/* Materials */
/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */

/* Cookie consent */
@import "~cookieconsent/build/cookieconsent.min.css";

html, body { 
    margin: 0;
    font-family: 'Roboto', sans-serif; 
    height: 100%;
}

/* Fix for vertical align on material icons */
i.material-icons {
    vertical-align: middle !important;
}

/* colors for remmarks */
.highlight {
    color: red;
}
