<div class="plugins-container">


<div class="banner">
  <div class="banner-text">
    <h1>
      <uds-translate>UDS Plugin</uds-translate>
    </h1>
  </div>
</div>

<div class="plugins">
  <div class="plugin" *ngFor="let p of api.plugins" (click)="download(p.url)">
    <div class="image">
      <img src="/static/modern/img/{{ p.name }}.png">
    </div>
    <div class="platform">
      {{ p.name }}
    </div>
    <div class="description">
      {{ p.description }}
    </div>
  </div>
</div>

<div class="info">
  <uds-translate>Download UDS client plugin for your platform</uds-translate>  
</div>

</div>