.actors-container {
    display: flex;
    flex-flow: column;
    margin: 0 2%;
}

.banner {
    display: flex;
    justify-content: center;
}

.banner-text h1 {
    font-size: 2em;
    text-align: center;
}

.actors {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    margin: auto;
}

.actor {
    border: 1px solid;
    margin-top: 1rem;
    padding: 1em;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    flex: 1 0 34%;
    margin-right: 1em;
}

.actor.legacy {
    background-color: lightgray;
    max-width: 50%;
}

.actor:hover {
    cursor: pointer;
    box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color:rgba(0,0,0,0.10);
}

.image {
    display: block;
    float: left;
    padding-right: 1rem;
    height: 100%;
}

.image img {
    width: 4rem;
}

.name {
    font-size: 1.5em;
    margin-bottom: 1em;
    font-weight: bold;
    overflow: hidden;
}

::ng-deep .dark-theme {
    uds-downloads {
        color: #FFFFFF !important;
    }

    .actor.legacy {
        background-color: rgb(70, 70, 70);
    }
    
}  