<div class="actors-container">

  <div class="banner">
    <div class="banner-text">
      <h1>
        <uds-translate>Downloads</uds-translate>
      </h1>
    </div>
  </div>

  <div class="actors">
    @for (p of actors; track p) {
      <div [class]="css(p)" (click)="api.download(p.url)">
        <div class="image">
          <img [src]="img(p.name)">
        </div>
        <div class="name" [innerHTML]="p.name | safeHtml">
        </div>
        <div class="description" [innerHTML]="p.description | safeHtml ">
        </div>
      </div>
    }
  </div>

  <div class="info">
    <ul>
      <li><uds-translate>Always download the UDS actor matching your platform</uds-translate></li>
    </ul>

  </div>

</div>
